/cv3_Named_query/dist/
/cv3B_JPQL_changed_cv2_6ulohy/nbproject/private/
/cv3B_JPQL_changed_cv2_6ulohy/build/
/sax_priprava1/nbproject/private/
/sax_priprava1uloha1/nbproject/private/
/sax_priprava1_uloha2/nbproject/private/
/sax_priprava1_uloha3/nbproject/private/
/sax_priprava1_uloha3/build/
/saxParserZdanie2018Skuska1/nbproject/private/
/zapocet/nbproject/private/
/saxapp/build/
/saxapp/nbproject/private/
/saxapp_1DAyAfter/nbproject/private/
/saxapp_1DAyAfter/build/
/saxapp_1DAyAfter/dist/
/saxapp_DAyAFTER/nbproject/private/
/saxapp_DAyAFTER/build/
/saxappMvVBc1/nbproject/
/saxappMvVBc1/target/
/cv3C_ul2_entity_manager_methods/nbproject/private/
/cv3C_ul2_entity_manager_methods/build/
/cv3C_ul2_entity_manager_methods/dist/
/cv3C_ul2_entity_manager_methods2/nbproject/private/
/cv3C_ul2_entity_manager_methods2/build/
/cv3C_ul2_entity_manager_methods3/nbproject/private/
/cv3C_ul2_entity_manager_methods3/build/
/cv3C_ul2_entity_manager_methods3/dist/
/test_entity_fromDB/nbproject/private/
/test_entity_fromDB/build/
/test_entity_fromDB/dist/
/cv3D_JPA_controller/nbproject/private/
/cv3D_JPA_controller/build/
/cv3D_JPA_controller/dist/
/cv3E_swingApp/nbproject/private/
/cv3E_swingApp/build/
/cv3E_swingApp/dist/
/cv4_ul2_asociacie/nbproject/private/
/cv4_ul2_asociacie/build/
/cv4_ul4_ERdiagram/nbproject/private/
/cv4_ul4_ERdiagram/build/
/test_zapocet2/nbproject/private/
/zadanieMv/target/
/zadanie/nbproject/private/
/zadanie/build/
/zapocet2/nbproject/private/
/zapocet2/build/
/zapocet2/dist/
/pr5_asociacie/nbproject/private/
/pr5_asociacie/build/
/cv5_1_bidirectional/nbproject/private/
/cv5_1_bidirectional/build/
/cv5_u3_ERdiagram/nbproject/private/
/cv5_u3_ERdiagram/build/