/cv3_Named_query/dist/
/cv3B_JPQL_changed_cv2_6ulohy/nbproject/private/
/cv3B_JPQL_changed_cv2_6ulohy/build/
/sax_priprava1/nbproject/private/
/sax_priprava1uloha1/nbproject/private/
/sax_priprava1_uloha2/nbproject/private/
/sax_priprava1_uloha3/nbproject/private/
/sax_priprava1_uloha3/build/
/saxParserZdanie2018Skuska1/nbproject/private/
/zapocet/nbproject/private/
/saxapp/build/
/saxapp/nbproject/private/
/saxapp_1DAyAfter/nbproject/private/
/saxapp_1DAyAfter/build/
/saxapp_1DAyAfter/dist/
/saxapp_DAyAFTER/nbproject/private/
/saxapp_DAyAFTER/build/
/saxappMvVBc1/nbproject/
/saxappMvVBc1/target/