/cv3_Named_query/dist/
/cv3B_JPQL_changed_cv2_6ulohy/nbproject/private/
/cv3B_JPQL_changed_cv2_6ulohy/build/
/sax_priprava1/nbproject/private/
/sax_priprava1uloha1/nbproject/private/
/sax_priprava1_uloha2/nbproject/private/
/sax_priprava1_uloha3/nbproject/private/
/sax_priprava1_uloha3/build/
/saxParserZdanie2018Skuska1/nbproject/private/
/zapocet/nbproject/private/
/saxapp/build/
/saxapp/nbproject/private/
/saxapp_1DAyAfter/nbproject/private/
/saxapp_1DAyAfter/build/
/saxapp_1DAyAfter/dist/
/saxapp_DAyAFTER/nbproject/private/
/saxapp_DAyAFTER/build/
/saxappMvVBc1/nbproject/
/saxappMvVBc1/target/
/cv3C_ul2_entity_manager_methods/nbproject/private/
/cv3C_ul2_entity_manager_methods/build/
/cv3C_ul2_entity_manager_methods/dist/
/cv3C_ul2_entity_manager_methods2/nbproject/private/
/cv3C_ul2_entity_manager_methods2/build/
/cv3C_ul2_entity_manager_methods3/nbproject/private/
/cv3C_ul2_entity_manager_methods3/build/
/cv3C_ul2_entity_manager_methods3/dist/
/test_entity_fromDB/nbproject/private/
/test_entity_fromDB/build/
/test_entity_fromDB/dist/
/cv3D_JPA_controller/nbproject/private/
/cv3D_JPA_controller/build/
/cv3D_JPA_controller/dist/
/cv3E_swingApp/nbproject/private/
/cv3E_swingApp/build/
/cv3E_swingApp/dist/
/cv4_ul2_asociacie/nbproject/private/
/cv4_ul2_asociacie/build/
/cv4_ul4_ERdiagram/nbproject/private/
/cv4_ul4_ERdiagram/build/
/test_zapocet2/nbproject/private/
/zadanieMv/target/
/zadanie/nbproject/private/
/zadanie/build/
/zapocet2/nbproject/private/
/zapocet2/build/
/zapocet2/dist/
/pr5_asociacie/nbproject/private/
/pr5_asociacie/build/
/cv5_1_bidirectional/nbproject/private/
/cv5_1_bidirectional/build/
/cv5_u3_ERdiagram/nbproject/private/
/cv5_u3_ERdiagram/build/
/cv5_1_bidirectional/dist/
/zapocet2_skuska/build/
/zapocet2_skuska/dist/
/SKUSKA/sk_Zadanie1_zap_JPA/nbproject/private/
/SKUSKA/sk_Zadanie1_zap_JPA/build/
/SKUSKA/sk_3cv_uloha1/nbproject/private/
/SKUSKA/sk_3cv_uloha1/dist/
/SKUSKA/sk_3cv_uloha1/build/
/SKUSKA/test0aMv/target/
/SKUSKA/oprava_skusky1/test0aMv/nbproject/
/SKUSKA/oprava_skusky1/zapocet2Bmv/nbproject/
/SKUSKA/oprava_skusky1/zapocet2Bmv/target/
/SKUSKA/oprava_skusky1/restAppMvBMAT/target/
/SKUSKA/restClientAfterSkuska/nbproject/private/
/SKUSKA/restClientAfterSkuska/build/
/SKUSKA/HelloWorld/nbproject/private/
/MessageBoard/nbproject/private/
/CustomerDB/nbproject/private/
/SKUSKA/restClientAfterSkuska/dist/
/SKUSKA/sk_p10_menu_servis/nbproject/private/
/SKUSKA/sk_p10_menu_servis/build/
/SKUSKA/sk_p10_menu_servis/dist/
/SKUSKA/sk_p10_menu_servis_client/nbproject/private/
/SKUSKA/sk_p10_menu_servis_client/build/
/SKUSKA/sk_cv10_ul3$4/nbproject/private/
/SKUSKA/sk_cv10_ul3_4/nbproject/private/
/SKUSKA/sk_cv10_ul3_4/dist/
/SKUSKA/sk_cv10_ul3_4/build/
/SKUSKA/sk_cv10_ul34/nbproject/private/
/SKUSKA/sk_cv10_ul34/build/
/SKUSKA/sk_cv10_ul34/dist/
/SKUSKA/sk_cv10_ul34_client/nbproject/private/
/SKUSKA/sk_cv10_ul34_client/build/
/SKUSKA/skuska_pred2/zapocet2/nbproject/private/
/SKUSKA/sk_skuska1_restApp/nbproject/private/
/SKUSKA/sk_skuska1_restApp/build/
/SKUSKA/sk_skuska1_restApp/dist/
/SKUSKA/sk_skuska1_restApp_client/nbproject/private/
/SKUSKA/sk_skuska1_restApp_client/build/
/SKUSKA/skuska_pred2/restAppMvBMAT_pred2/target/
/SKUSKA/skuska_pred2/zapocet2_pred2/nbproject/private/
/SKUSKA/skuska_pred2/zapocet2pred2/nbproject/private/
/SKUSKA/skuska_pred2/zapocet2pred2/build/
/SKUSKA/skuska_pred2/zapocet2pred2/dist/
/SKUSKA/skuska_pred2/zapocet2BmvIII/nbproject/
/SKUSKA/skuska_pred2/zapocet2BmvIII/target/
/p4app1/build/
/SKUSKA/sk_Zadanie1_zap_JPA/dist/